<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="6.0.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.8.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="2.8.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.8.232" targetFramework="net452" />
  <package id="ServiceStack" version="5.0.0" targetFramework="net452" />
  <package id="ServiceStack.Client" version="5.0.0" targetFramework="net452" />
  <package id="ServiceStack.Common" version="5.0.0" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="5.0.0" targetFramework="net452" />
  <package id="ServiceStack.OrmLite" version="5.0.0" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="5.0.0" targetFramework="net452" />
  <package id="ServiceStack.Server" version="5.0.0" targetFramework="net452" />
  <package id="ServiceStack.Text" version="5.0.0" targetFramework="net452" />
</packages>